<div class="rightContainer">
    <div >
        <span class="leftHalf">User ID <span style="color:red;">*</span></span>
        <input type="text" ng-model="credentials.userId" class="form-control rightHalf" autocomplete="off" required/>
    </div>
    <div>
        <span class="leftHalf">Password <span style="color:red;">*</span></span>
        <input type="password" ng-model="credentials.password" class="form-control rightHalf" autocomplete="off" required/>
    </div>
    <input type="button"  ng-click="Login()" class="btn btn-primary" value="Login" style="width: 30%; margin-left: 30%; margin-top: 5%;" />
</div>
<style type="text/css">
  .rightContainer {
        float: left;
        width: 50%;
        margin-left: 35%
    }
    .leftHalf {
        width: 30%;
        float: left;
    }
    .rightContainer div {
        padding-bottom: 5%;
    }
</style>