extends ./layout.jade
block mailBody
  div.greetings We would like to acknowledge that we have received your request and a ticket has been created with Ticket No: #{templateData.ticketId}. A support representative will be reviewing your request and will send you a personal response.(usually within 24 hours).<br>Thank you for your patience.
block thankyou
  div.thankyou Sincerely, <br> B.One Support Team