extends ./layout.jade
block mailBody
  div.greetings この度はLive Smart アプリケーションに <br> ご登録いただきありがとうございます。<br> <h3>一時パスワード: #{templateData.authCode}</h3><br>最初のログイン後 ン後に変更してください<br>顧客ID: #{templateData.customer_pin}.<br>Email: #{templateData.email}
