extends ./layout.jade
block mailBody
  div.greetings Ticket No: #{templateData.ticketId} has been closed by B.One Support team on #{templateData.date}. For queries, please contact support@b.one.com<br><br>Thank you for your patience.
block thankyou
  div.thankyou Sincerely, <br> B.One Support Team